.admin-wrapper {
    display: flex;
    min-height: 100vh;
    background: #f8f9fa;
}

/* ===========================
   Sidebar
=========================== */

.sidebar {
    width: 260px;
    background: #1f2937;
    color: white;
    padding: 25px;

    display: flex;
    flex-direction: column;
}

.logo {
    text-align: center;
    margin-bottom: 35px;
    font-weight: bold;
}

/* Menu */

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    flex: 1;
}

.sidebar li {
    margin-bottom: 15px;
}

.sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 12px 15px;
    border-radius: 10px;
    transition: 0.3s;
}

.sidebar li:not(.logout) a:hover{
    background:#2563eb;
}
/* Logout */

.logout {
    margin-top: auto;
}



.logout a:hover {
    background: #bb2d3b;
}

/* ===========================
   Content
=========================== */

.content {
    flex: 1;
    padding: 30px;
    overflow-x: auto;
}

/* ===========================
   Mobile Header
=========================== */

.mobile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background: #1f2937;
    color: white;
}

/* ===========================
   Mobile Sidebar
=========================== */

.offcanvas a {
    text-decoration: none;
    color: #222;
    font-weight: 500;
}

/* ===========================
   Responsive
=========================== */

@media (max-width: 991px) {

    .admin-wrapper {
        display: block;
    }

    .content {
        padding: 15px;
    }

    .logout a:hover {
    background: #bb2d3b;
    color: #f8f9fa;
    border-radius: 6px;
    }

    

    .offcanvas  li:not(.logout) a:hover{
    background:#2563eb;
    color: #f8f9fa;
    border-radius: 6px;
    }

}