<div class="container">

  <h2 class="mb-4">
    🛒 My Cart
  </h2>

  <div
    class="card mb-3"
    *ngFor="let item of cartItems">

    <div class="row g-0 align-items-center">

      <!-- Product Image -->

      <div class="col-md-3 text-center">

        <img
          [src]="item.product.image"
          class="img-fluid p-3"
          height="180">

      </div>

      <!-- Product Details -->

      <div class="col-md-6">

        <div class="card-body">

          <!-- Product Name -->

          <h5>

            {{ item.product.name }}

          </h5>

          <!-- ⭐ Size -->

          <div *ngIf="item.size" class="mb-2">

            <span class="badge bg-primary">

              Size : {{ item.size.name }}

            </span>

          </div>

          <!-- Price -->

          <div class="mb-2">

            <h4 class="text-success fw-bold mb-1">

              ₹ {{ item.product.discounted_price }}

            </h4>

            <div *ngIf="item.product.discount_percentage > 0">

              <span
                class="text-muted text-decoration-line-through me-2">

                ₹ {{ item.product.price }}

              </span>

              <span class="badge bg-danger">

                {{ item.product.discount_percentage }}% OFF

              </span>

            </div>

          </div>

          <!-- Quantity -->

          <div class="d-flex align-items-center">

            <button
              class="btn btn-outline-danger"
              (click)="changeQuantity(item,-1)">

              -

            </button>

            <span class="mx-3 fw-bold">

              {{ item.quantity }}

            </span>

            <button
              class="btn btn-outline-success"
              (click)="changeQuantity(item,1)">

              +

            </button>

          </div>

        </div>

      </div>

      <!-- Remove -->

      <div class="col-md-3 text-center">

        <button
          class="btn btn-danger"
          (click)="removeItem(item.id)">

          Remove

        </button>

      </div>

    </div>

  </div>

  <!-- Empty Cart -->

  <div
    class="text-center py-5"
    *ngIf="cartItems.length == 0">

    <h4 class="text-muted">

      Your Cart is Empty

    </h4>

  </div>

  <!-- Total -->

  <div
    class="text-end"
    *ngIf="cartItems.length > 0">

    <h3>

      Total :
      ₹ {{ total }}

    </h3>

    <button
      class="btn btn-success btn-lg"
      routerLink="/checkout">

      Proceed to Checkout

    </button>

  </div>

</div>