.navbar{

    padding:15px 0;

}

.navbar-brand{

    font-size:28px;

}

.nav-link{

    font-size:17px;
    margin-left:15px;

}

.nav-link:hover{

    color:#ffc107 !important;

}

.logo-img{

    width:75px;
    height:75px;

    object-fit:contain;

    /* filter:drop-shadow(0 0 8px white); */

}

.navbar-brand{
    font-size: 1.5rem;
    color: #0d6efd;
}

.navbar-brand:hover{
    color: #5a9bfc;
}

.navbar-brand img{
    border-radius: 8px;
}